body {
    padding: 0;
    margin: 0;
}

html, body, #map, #curtain {
    position: relative;
    height: 100%;
    width: 100vw;
}

#curtain {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 314158;
    background-color: rgba(0,0,0,.9);
}

.icon {
    height: 40px;
    width: 40px;
    pointer-events: auto;
    padding:2px;
    border: 1px solid grey;
}

.icon-container {
    position: absolute;
    bottom: 6%;
    left: 3%;
    z-index: 314159;
    pointer-events: none;
    border-radius: 2px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}

.start-button {
    position: absolute;
    bottom: 45%;
    left: 45%;
    z-index: 314159;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 10px;
    font: bold xx-large 'Lucida Console', Monaco, monospace;
    border: 1px solid grey;
}