body {
    padding: 0;
    margin: 0;
}

#map, #curtain {
    height: 450px;
    width: 100%;
    margin: auto;
}

.map-holder {
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: #EAEAEA ;
    position: relative;
}

.iframe-holder {
    margin-bottom: -5px;
    padding: 0px;
    background-color: #EAEAEA;
}


#map {
    z-index: 0;  
}

#curtain {
    z-index: 314159;    
    position:absolute;
    background-color: rgba(0,0,0,.9);
}

.icon {
    height: 40px;
    width: 40px;
    pointer-events: auto;
    padding:2px;
    border: 1px solid grey;
}

.toggle {
    z-index: 314159;
    /*pointer-events: none;*/
    border-radius: 2px;
    background-color: #f5f5f5;
    float: right;
    padding: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
    font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    /*border: 1px solid grey;*/
}

.start-button {
    position: absolute;
    bottom: 45%;
    left: 45%;
    z-index: 314159;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 10px;
    font: bold xx-large 'Lucida Console', Monaco, monospace;
    border: 1px solid grey;
    display: none;
}


iframe {
    height: 120px;
    width: 100%;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 314159;
  }

  .circle-container {
    left:50%;
    margin-left:-55px;
  }
  
  .circle-container > img {
    position:relative;
    top:0px;
    left:0px;
    width: 80px;
    border: solid rgba(0,0,0,0) 5px;
    background-color: rgba(0,0,0,0);
  }
  
  .circle-container > .svg-square {
    position:relative;
    top:40px;
    left:25px;
    margin-top:-80px;
    margin-left:-80px;
  }
  
  .label {
    text-align:center;
    font-weight:bold;
    font-size:25px;
  }
  
  
  .clicked > img {
    border: solid #6495ED 5px;
    background-color:#6495ED;
  }


.circle-container > svg {
      visibility: hidden;
  }
  
.clicked > svg {
    visibility: visible;
  }

.header {
    background: #8C1515;
    padding: 24px;
    width: 100%;
    font-family: Source Sans Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.footer {
    background: #2E2D29;
    width: 100%;

    font-family: Roboto;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: -0.005em;
    text-align: center;
    color:white;

    padding: 14px 6.6%;
    
}

.splash-palm-drive {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),
     url(icons/CFr-p4-9.png);
     background-size: cover;
     background-position: center top;

     padding-left: 24px;
     color: white;
     padding-bottom: 35px;

}

.splash-palm-drive > h1 {
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;

    padding-top: 35px;
}

.splash-palm-drive > .row {
    padding-top: 10px;
    padding-bottom: 10px;
} 

.splash-angel {
    background-image: url(icons/angel.jpeg);
     background-size: cover;
     background-position: center top;
     height: 260px;
}

.splash-guy {
    background-image: url(icons/cactus_guy.jpg);
     background-size: cover;
     background-position: left center;
     height: 167px;  
     border-right: 2.5px solid #EAEAEA;
}

.splash-girl {
    background-image: url(icons/mausoleum_girl.jpg);
     background-size: cover;
     background-position: right center;
     height: 167px;
     border-left: 2.5px solid #EAEAEA;
}

.text-section {
    background-color: #EAEAEA;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding:25px 40px 25px 40px;
}

.img-bullet-wrapper { 
    display: table-row; 
}

.img-bullet {
  display: table-cell; 
  vertical-align: top; 
  margin-right: 10px;
}

.img-bullet-caption { 
    display: table-cell; 
    vertical-align: top;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.arrow-bullet {
    display: table-cell; 
    vertical-align: middle; 
    width: 20px;
  }
  
  .arrow-bullet-caption { 
      display: table-cell; 
      vertical-align: middle;

      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
    

      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;      
  }

.header-caption { 
    display: table-cell; 
    vertical-align: middle;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.header-small {
    padding-top: 15px;
    padding-bottom: 15px;
}



.credits-footer {
    background: #767674;
    width: 100%;
    color: white;
    padding: 14px 12.2%;
}

.credits-footer > h1 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
}

.credits-footer > h2 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 0px;
}

.credits-footer > h3 {
    font-family: Roboto;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
}

.quote {
    text-align: center;
    font-weight: bold;
}

a {
    color:black;
}


.toggle-container {
    width: 100%;
    margin: 0px;
    padding: 0px;   
}

#button {
    margin-right:15px;
}